name: Generate Datas

on:
  schedule: # execute every 12 hours
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    name: Jobs to update datas
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: shreeg25 
          outputs: |
            # 1. Standard Light Mode
            dist/github-contribution-grid-snake.svg
            
            # 2. Custom Neon Dark Mode
            # color_snake = Cyan (#00f2ff)
            # color_dots = Dark BG -> Purple -> Pink -> Hot Pink
            dist/github-contribution-grid-snake-dark.svg?color_snake=#00f2ff&color_dots=#161b22,#4b0082,#800080,#ff00ff,#ff69b4
      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
